div.c-wrapper {
  margin: auto;
  padding: 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%; /* use this, or not */
  /*margin: auto;*/
}
.navbar {
  margin-bottom: 0;
}
